.navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0%;
}

.navbar svg {
  height: fit-content;
  width: 154px;
}

.navbar__logo {
  display: flex;
  align-items: center;
}
.logo-hipcamp-green_svg__st0 {
  fill: #0f3806;
}

.navbar__top-right {
  align-items: center;
  display: flex;
  font-size: 18px;
  height: 70px;
  line-height: 24px;
}

.navbar__top-right__links {
  display: inline-flex;
  width: 457.6px;
}

.navbar__top-right__signup {
  display: inline-flex;
}

.link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.link-container li {
  border-bottom: 2px solid #f3f2ef;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 2px;
  transition: border-bottom 0.5s ease;
}
.link-container li:hover {
  border-bottom: 2px solid #00c585;
  box-sizing: border-box;
}
.signup-button-container {
  align-items: center;
  display: inline-flex;
  height: 56px;
  justify-content: end;
  width: 111.58px;
}

.signup-button {
  border: 1px solid #00c585;
  background-color: #00c585;
  border-radius: 24px;
  color: white;
  cursor: pointer;
  font-size: 17px;
  padding: 6px 16px 8px;
  transition: background-color 0.15s ease, color 0.15s ease;
}

.signup-button:hover {
  background-color: #f3f2ef;
  color: #00c585;
}
