body {
  background-color: #f3f2ef;
  box-sizing: border-box;
  font-family: "Open Sans", Helvetica, sans-serif;
  line-height: 1em;
}

header,
footer,
main {
  position: relative;
  margin: auto;
  max-width: 1280px;
  padding: 0 40px;
}
